<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>You are not authorized</title>
{#     <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />#}
{#      <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />#}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<h4>Неправильні реєстраційні дані! Спробуйте ще раз.</h4>
<form action="/myapp/back_to_login" method="post" >{% csrf_token %}
    <input type="submit" value="Return to log page">
</form>
</body>
</html>